body{
	padding:0;
	margin: 0;
	background: radial-gradient(4rem,
    rgba(255,255,255,0) 80%, 
    #778691 80%, #778691 99%, 
    rgba(255,255,255, 0) 
    ) 0 0,
    radial-gradient(4rem,
    rgba(255,255,255,0) 80%, 
    #778691 80%, #778691 99%,  
    rgba(255,255,255, 0) 
    ) 4em 4em,
    radial-gradient(4.7rem,
    rgba(255,255,255,0) 50%, 
    #B1C2B3 50%,
    #B1C2B3 75%, #B1C2B3 99%, 
    rgba(255,255,255, 0) 
    ) 4em 4em,
    radial-gradient(4.7rem,
    rgba(255,255,255,0) 50%, 
    #B1C2B3 50%,
    #F5FCD0 75%, #B1C2B3 99%, 
    rgba(255,255,255, 0) 
    ) 0 0;
  background-size: 8rem 8rem;
  background-color: #F5FCD0;
}
h2{
	color: #000;
	margin: 20px;
	background: rgba(255,255,255, 0.9);
    display: inline-block;
    padding: 10px;	
}

h3 {
	margin: 0;
}

h2 + .block {
	margin-top: 0;
}

.block {
	padding: 20px;
	margin: 20px;	
	background: rgba(255,255,255, 0.9);
	box-shadow: 0 0 10px 0 #778691;
}

.block-inner {
	display: flex;
	margin-top: 15px;
}

.right{
	display: inline-block;
}

.img {
	width:300px;
	overflow:hidden;
	margin-right: 20px;
	display: inline-block;
}

.maket {
	height: 100px;
	border-bottom: 1px dotted #000;
	overflow: hidden;
}
  
img {
	width:300px;
}
  
.maket:hover {
	width:300px;
	height:100%;
	border:none;
}
